<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="/head"></head>

<header>
    <div class="nav">
        <div class="header-1200">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    <img src="/images/header-logo.png"/>
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a href="#aboutUs">ABOUT US</a>
                <a href="#organization">ORGANIZATION</a>
                <a href="#photo">PHOTO</a>
                <a href="#contact">CONTACT</a>
            </div>
        </div>
    </div>
</header>

<body>
<!--메인-->

<div style="width: 100%;height: 80px">
</div>

<div class="content main">
    <div class="area-1200">
        <div>
            <div class="title-l">(유)구이앤금우통신</div>
            <div class="title-s">Kui & Kumu limited company</div>
        </div>
    </div>
</div>

<!--회사 소개-->
<div class="content line" id="aboutUs">
    <div class="area-1200">
        <div class="sub-title">
            <div class="sub-l">ABOUT US</div>
            <div class="sub-s">(유)구이앤금우통신 소개</div>
        </div>

        <div class="row about-us">
            <div class="col-sm-3">
                <img src="/images/logo.png"/>
            </div>
            <div class="col-sm-9">
                <p>
                    　정직(Honesty), 창조(Creation),질서(Order), 자유(Freedom)의 기업 문화를 바탕으로 전문적이고 진취적이고, 윤리적인 행동을 통하여
                    사회적인 책임을
                    다하며,
                    일일신우신(日日新又新) 이라는 사훈 아래 도전정신을 바탕으로 고객만족이라는 최고의 서비스와 미래 지향적인 젊은 전문가들의 NEW 벤처정신을 바탕으로 한 기업정신을
                    경영이념으로
                    합니다.
                </p>
                <p>
                    　유한회사 구이앤금우통신은 도전정신과 열린마음을 가진 젊고 건강한 사람들의 기업입니다. 전문적인 기술과 풍부한 경험을 바탕으로 고객의 신뢰에 보답하고 있으며, 전략적
                    사고와 세상을
                    읽는
                    넓은
                    시야, 내일을 준비하는 벤처정신으로 세계적인 선도기업으로 거듭날 수 있는 밑거름이 되고자 합니다.
                </p>
                <p>
                    　유한회사 구이앤금우통신은 국내 유일의 정보통신분야 신기술의 구축과 운영을 통하여 전문성과 기술력을 바탕으로 정보통신 토탈서비스 분야에 있어서 가장 신뢰할 수 있는
                    기업이 될
                    것입니다.
                </p>
            </div>
        </div>
    </div>
</div>

<!--조직도-->
<div class="content line" id="organization">
    <div class="area-1200">
        <div class="sub-title">
            <div class="sub-l">ORGANIZATION</div>
            <div class="sub-s">조직도</div>
        </div>
        <img class="organization-img" src="/images/organization.png"/>
    </div>
</div>

<!--회사 사진-->
<div class="content line" id="photo">
    <div class="area-1200">
        <div class="sub-title">
            <div class="sub-l">PHOTO</div>
            <div class="sub-s">회사 사진</div>
        </div>

        <div class="row company-images">
            <div class="col-sm-4">
                <img src="/images/company1.png">
            </div>
            <div class="col-sm-4">
                <img src="/images/company2.png">
            </div>
            <div class="col-sm-4">
                <img src="/images/company3.png">
            </div>
        </div>
        <div class="row company-images">
            <div class="col-sm-4">
                <img src="/images/company8.png">
            </div>
            <div class="col-sm-4">
                <img src="/images/company6.png">
            </div>
            <div class="col-sm-4">
                <img src="/images/company5.png">
            </div>
        </div>
        <div class="row company-images">
            <div class="col-sm-4">
                <img src="/images/company4.png">
            </div>
            <div class="col-sm-4">
                <img src="/images/company7.png">
            </div>
            <div class="col-sm-4">
                <img src="/images/company9.png">
            </div>
        </div>
    </div>
</div>

<!--문의/찾아오시는길-->
<div class="content" id="contact">
    <div class="area-1200">
        <div class="sub-title">
            <div class="sub-l">CONTACT</div>
            <div class="sub-s">문의 / 찾아오시는 길</div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="info-wrap">
                    <div class="text-area">
                        <p>
                            <span>(유)구이앤금우통신</span>은
                            <br>여러분의 의견에 귀를 귀울이고 있습니다.
                        </p>
                        <p>
                            질문, 요청, 제안사항 등을 담당자에게 연락해 주시면
                            <br>
                            빠른 시일 내에 응답을 드리겠습니다.
                        </p>
                    </div>
                    <div class="icon-area">
                        <span class="material-icons">place</span>
                        <span class="icon-text">55362 전라북도 완주군 구이면 구이로 1575</span>
                    </div>
                    <div class="icon-area">
                        <span class="material-icons">call</span>
                        <span class="icon-text">063-237-1284</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div id="map"></div>
            </div>
        </div>

        <!--        <div class="contact">-->
        <!--            <div class="info-wrap">-->
        <!--                <div class="text-area">-->
        <!--                    <p>-->
        <!--                        <span>(유)구이앤금우통신</span>은-->
        <!--                        <br>여러분의 의견에 귀를 귀울이고 있습니다.-->
        <!--                    </p>-->
        <!--                    <p>-->
        <!--                        질문, 요청, 제안사항 등을 담당자에게 연락해 주시면-->
        <!--                        <br>-->
        <!--                        빠른 시일 내에 응답을 드리겠습니다.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="icon-area">-->
        <!--                    <span class="material-icons">place</span>-->
        <!--                    <span class="icon-text">55362 전라북도 완주군 구이면 구이로 1575</span>-->
        <!--                </div>-->
        <!--                <div class="icon-area">-->
        <!--                    <span class="material-icons">call</span>-->
        <!--                    <span class="icon-text">063-237-1284</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="map-wrap">-->
        <!--                <div id="map"></div>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</div>
</div>

</body>

<footer>
    <div>
        전라북도 완주군 구이면 구이로 1575 (유)구이앤금우통신 우_55362 | TEL : 063-237-1284
        <br>
        COPYRIGHT ⓒ 2021 (유)구이앤금우통신 ALL RIGHTS RESERVED.
    </div>

</footer>

</html>